<header class="mb-8 h-[40px] p-[5px] text-center align-middle">
	<p>FAP mobile app (myFAP) is available on
    <a class="inline-block h-[50px]" href='https://play.google.com/store/apps/details?id=com.fuct&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img class="inline-block max-h-[50px]" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
    </a>
    and
    <a class="inline-block h-[50px]" href="https://apps.apple.com/us/app/myfap/id1527723314?itsct=apps_box_badge&amp;itscg=30200">
      <img class="inline-block max-h-[36px] ml-2" src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1600041600" alt="Download on the App Store"/>
    </a>
  </p>
</header>
